<%- include("partials/header") %>

<main class="col-12 col-md-9 mx-auto">

    <h1 class="col-5 text-center resetfont mx-auto brown bg-opacity-75">Favorieten</h1>
    <form action="/favourites/print" method="post">
        <button type="submit" class=" col-3 mx-auto btn background mb-3 resetfont"><img src="./../assets/images/downloads.png" alt="Favoriet" class="button-image">
            <span class="button-text ">download</span></button>
    </form>

    <table class="table mx-auto bg-transparent reading">
        <thead>
            <tr class="bg-transparent">
                <th class="bg-transparent" scope="col">quote</th>
                <th class="bg-transparent" scope="col">karakter</th>
                <th class="bg-transparent" scope="col">verwijderen</th>
            </tr>
        </thead>
        <tbody>
            <% 
                const quoteCount = {};
                for (let item of favourites) {
                    const character = item.character;
                    if (quoteCount[character]) {
                        quoteCount[character]++;
                    } else {
                        quoteCount[character] = 1;
                    }
                }

                for (let item of favourites) { 
            %>
            <tr>
                <td class="bg-transparent text-start"><%= item.dialog %></td>
                <td class="bg-transparent text-start">
                    <a class="text-start" href="https://lotr.fandom.com/wiki/<%= item.character %>" target="_blank">
                        <%= item.character %> (<%= quoteCount[item.character] %>)
                    </a>
                </td>
                <td class="bg-transparent">
                    <form action="/favourites/remove" method="post" style="display:inline;">
                        <input type="hidden" name="quote" value="<%= item %>">
                        <button type="submit" class="btn btn-danger btn-sm">X</button>
                    </form>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</main>
