<%- include("partials/header") %>
<%- include("partials/aside") %>
<main>
    <h1>Ontvangen Formuliergegevens</h1>
    <p>Correcte score: <%= correctScore %></p>
    <p>Karakterscore: <%= characterScore %></p>
    <p>Filmscore: <%= movieScore %></p>
    <p>Gekozen karakter: <%= chosenCharacter %></p>
    <p>Gekozen film: <%= chosenMovie %></p>
    <p>Correct karakter geselecteerd: <%= correctCharSelected %></p>
    <p>Correcte film geselecteerd: <%= correctMovSelected %></p>
</main>
<%- include("partials/footer") %>
