<%- include("partials/header")%>

<main class="col-12 col-lg-9 mx-auto bg-opacity-25  bg-transparent row">
    <section class=" row text-center">
        <section class="row">
            <h1>Ronde <%=round%></h1>
        </section>
    </section>
    <section >
        <section class="row p-5 align-items-center">
            <section class="col-9 text-center p-3">
                <p class="resetfont fs-3 col-10 mx-auto text-center p-3 bg-transparent  ">"<%=quote.dialog%>"</p>
            </section>
            <section class="col-3 text-center row justify-content-around">
                <button class="col-10 mx-auto btn background mb-3 resetfont" id="favorietBtn">
                    <img src="./../assets/images/fire-icon.png" alt="Favoriet" class="button-image">
                    <span class="button-text">Favoriet</span>
                </button>
                <button class="col-10 mx-auto btn background mb-3 resetfont" id="favorietBtn">
                    <img src="./../assets/images/skull-icon.png" alt="Favoriet" class="button-image">
                    <span class="button-text">Blacklist</span>
                </button>
            </section>    
        </section>
        <section class="row gy-5 row">  
            <section class="col-5 mx-auto">
                <h2 class="lotrfont">PERSONAGE</h2>
                <% for(let i=0; i<3; i++) { %>
                    <button class="col-10 mx-auto btn justify-content-around selected-char <% if(characterListMixed[i]==character.name) { %>correctCharacter<% } %> col-12">
                        <img src="./../assets/images/logoring.png" alt="Selected-char" class="selected-icon-char">
                        <%=characterListMixed[i]%>
                        <img src="./../assets/images/logoring.png" alt="Selected-char" class="selected-icon-char">
                    </button>
                <% } %>
            </section>  
            <section class="col-5 mx-auto">
                <h2 class="lotrfont">FILM</h2>
                <% for(let i=0; i<3; i++) { %>
                    <button class="col-10 mx-auto btn movie  selected-mov <% if(movieListMixed[i]==movie.name) { %>correctMovie<% } %> col-12">
                        <img src="./../assets/images/logoring.png" alt="Selected-mov" class="selected-icon-mov">
                        <%=movieListMixed[i]%>
                        <img src="./../assets/images/logoring.png" alt="Selected-mov" class="selected-icon-mov">
                    </button>
                <% } %>
            </section>
        </section>
        

            <form action="/" method="POST">
                // hier moeten alle value ingeladen worden

                quote = quote.dialog 
                quoteBL/quoteF = true of false wanneer je knopt BL of fav duwt
                dan komt er een textarea voor reden = reasonBL (hidden zolang niet nogid is)
                
        



                <input type="submit" value="Volgende" class="volgende">
            </form>
            
         
            
    </section>
</section>

</main>