<%- include("partials/headerIntro")%>

<main class="col-12 col-lg-9 mx-auto bg-opacity-25  bg-transparent row">
    <section class=" row text-center">
        <section class="row">
            <h1><%=round%>/10</h1>
            <h2>Score: <%=score%></h2>
        </section>
    </section>
    <section class="row text-center">
       <p class="col-10 mx-auto  fs-4 fs-md-5 fs-lg-6">"<%=quote.dialog%>"</p>
        <section class="col-7 mx-auto text-center row justify-content-around">
            <button class="col-5 mx-auto btn background mb-3 resetfont" id="favorietBtn">
                <img src="./../assets/images/fire-icon.png" alt="Favoriet" class="button-image">
                <span class="button-text">Favoriet</span>
            </button>
            <button class="col-5 mx-auto btn background mb-3 resetfont" id="favorietBtn">
                <img src="./../assets/images/skull-icon.png" alt="Favoriet" class="button-image">
                <span class="button-text">Blacklist</span>
            </button>
        </section>    
        <form action="/tenRounds" method="POST">
            <section class="row gy-5">
              <section class="col-5 mx-auto">
                <h2 class="lotrfont">PERSONAGE</h2>
                <% for(let i = 0; i < 3; i++) { %>
                  <input type="radio" id="character<%= i+1 %>" name="selectedCharacter" value="<%= characterListMixed[i] %>" class="visually-hidden">
                  <label for="character<%= i+1 %>" class="button col-10 mx-auto btn justify-content-around selected-char <%= (characterListMixed[i] === quote.character) ? 'correctCharacter' : '' %> col-12">
                    <img src="./../assets/images/logoring.png" alt="Selected-char" class="selected-icon-char">
                    <%= characterListMixed[i] %>
                    <img src="./../assets/images/logoring.png" alt="Selected-char" class="selected-icon-char">
                  </label>
                <% } %>
              </section>  
              
              <section class="col-5 mx-auto">
                <h2 class="lotrfont">FILM</h2>
                <% for(let i = 0; i < 3; i++) { %>
                  <input type="radio" id="movie<%= i+1 %>" name="selectedMovie" value="<%= movieListMixed[i] %>" class="visually-hidden">
                  <label for="movie<%= i+1 %>" class="button col-10 mx-auto btn movie selected-mov <%= (movieListMixed[i] === quote.movie) ? 'correctMovie' : '' %> col-12">
                    <img src="./../assets/images/logoring.png" alt="Selected-mov" class="selected-icon-mov">
                    <%= movieListMixed[i] %>
                    <img src="./../assets/images/logoring.png" alt="Selected-char" class="selected-icon-char">
                  </label>
                <% } %>
              </section>
            </section>
            <section  style="display:none">
                <input type="text" name="quoteDialog" value="<%=quote.dialog%>" >
                <input type="text" name="quoteMovie" value="<%=quote.movie%>" >
                <input type="text" name="quoteCharacter" value="<%=quote.character%>" >

            </section>
        <input type="submit" value="-->">
        </form>
    </section>
    <section class=" row p-3">
      
        
        <a href="/quizPage" class="col-4 mx-auto"><button type="button">STOP</button></a>
            
         
            
    </section>
</main>


